/* Import Fonts */
@font-face{
    font-family: 'Cigra';
    src: url('fonts/Cigra.eot'),
         url('fonts/Cigra.woff') format('woff'),
         url('fonts/Cigra.otf') format('opentype'),
         url('fonts/Cigra.ttf') format('truetype');
}

/* HTML Elements */

body{
    margin: 0;
}

#body-background-lavender{
    background-color: #191010;
    background-image: url('img/background/bg-lavender-1920.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

@media (max-width: 768px){
    #body-background-lavender{
        background-color: #191010;
        background-image: url('img/test-image.png');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;

        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
    }
}



#body-background-mauve{
    background-color: #191010;
}

img{
    display: block;
}

/* Text Elements */

h1{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: #ECCFCF;
}

h2{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #ECCFCF;
}

h3{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #ECCFCF;
}

h4{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ECCFCF;
}

h5{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #ECCFCF;
}

h6{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #ECCFCF;
}

p{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ECCFCF;
}

a{
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ECCFCF;
}

button{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.font-cigra{
    font-family: 'Cigra', 'Open Sans', Helvetica, Arial, sans-serif;
}

.font-weight-bold{
    font-weight: 600;
}

.font-weight-semibold{
    font-weight: 500;
}

.font-size-14{
    font-size: 0.875rem;
}

.font-size-12{
    font-size: 0.75rem;
}

.letter-spacing-250{
    letter-spacing: 0.25rem;
}

.letter-spacing-125{
    letter-spacing: 0.125rem;
}

.glow-const{
    filter: drop-shadow(0 0 2rem rgba(178, 111, 246, 0.5));
}

.glow-small:hover{
    color: #FFF3F3;
    filter: drop-shadow(0 0 0.5rem rgba(255, 243, 243, 0.25));
}

.glow-small:active{
    transform: scale(0.95);
}

.inline-text{
    display: inline;
}

/* Buttons */
.btn-headline{
    padding: 0.5rem 1rem;
    border: 1px solid #ECCFCF;
    border-radius: 0.5rem;

    color: #ECCFCF;;

    background-color: rgba(255, 243, 243, 0.1);
}

.btn-headline:hover{
    background-color: rgba(255, 243, 243, 0.2);
    filter: drop-shadow(0 0 1rem rgba(178, 111, 246, 1));
    transition-duration: 100ms;
}

.btn-headline:active{
    transform: scale(0.95);
    transition-duration: 100ms;
}

/* Navbar */
.navbar-item{
    padding: 0 1rem;
    font-size: 0.875rem;
}

#navbar-bar:hover{
    background-color: rgba(255, 243, 243, 0.1);
    filter: drop-shadow(0 0 1rem rgba(178, 111, 246, 0.5));
}

@media (min-width: 768px){
    #navbar-bar{
        background-color: rgba(255, 243, 243, 0.05);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        border-bottom: 1px solid rgba(255, 243, 243, 0.05);
        
        position: sticky;
        top: 0;

        height: 3rem;
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    
    #navbar-logo{
        position: absolute;
        left: 0;
        top: 0;
    
        height: 2rem;
        width: auto;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 768px){
    #navbar-bar{
        background-color: rgba(255, 243, 243, 0.05);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);

        border-bottom: 1px solid rgba(255, 243, 243, 0.05);

        position: sticky;
        top: 0;

        height: 3rem;
        display: flex;

        align-items: center;
        justify-content: left;

    }
    
    #navbar-logo{
        position: static;
        
        height: 2rem;
        width: auto;
        padding: 0.5rem 1rem;
    }
}

/* Main Headline */
#headline-buttons{
    display: flex;
    gap: 0.5rem;
}

#bodybox-headpage{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
}

#bodybox-headline{
    width: 50%;
    margin: 0 0 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (max-width: 1280px){
    #bodybox-headpage{
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    #bodybox-headline{
        width: auto;
        margin: 0 3rem 5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    p{
        font-size: 0.875rem;
    }
}

@media (max-width: 480px){
    #bodybox-headpage{
        height: 95vh;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
    } 

    #bodybox-headline{
        margin: 0 1rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    h1{
        font-size: 3rem;
    }

    p{
        font-size: 0.875rem;
    }
}

/* Works */
#bodybox-works{
    background-color: #251919;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.works-section-card:hover{
    border: 2px solid rgba(255, 243, 243, 0.5);
    background-color: rgba(255, 243, 243, 0.1);
    transition-duration: 500ms;

    filter: drop-shadow(0 0 1rem rgba(255, 243, 243, 0.25));
}

.works-section-card:active{
    transform: scale(0.98);
    transition-duration: 100ms;
}

@media (min-width: 1280px){
    .bodybox-works-section{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    .works-section-card{
        width: 32rem;
        height: 40rem;

        padding: 3rem 2rem;
        border: 2px solid #251919;
        border-radius: 1.5rem;
    
        display: flex;
        flex-direction: column;
    
        background-image: url(img/test-image-03.png);
        background-color: rgba(255, 243, 243, 0.05);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media (max-width: 1280px){
    h3{
        font-size: 1.5rem;
    }

    .bodybox-works-section{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    
    .works-section-card{
        width: 20rem;
        height: 25rem;

        padding: 2rem 2rem;
        border: 2px solid #251919;
        border-radius: 1.5rem;
    
        display: flex;
        flex-direction: column;
    
        background-image: url(img/test-image-03.png);
        background-color: rgba(255, 243, 243, 0.05);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media (max-width: 900px){
    .bodybox-works-section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .works-section-card{
        width: 20rem;
        height: 25rem;

        padding: 2rem 2rem;
        border: 2px solid #251919;
        border-radius: 1.5rem;
    
        display: flex;
        flex-direction: column;
    
        background-image: url(img/test-image-03.png);
        background-color: rgba(255, 243, 243, 0.05);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media (max-width: 480px){    
    .works-section-card{
        width: 16rem;
        height: 20rem;

        padding: 2rem 2rem;
        border: 2px solid #251919;
        border-radius: 1.5rem;
    
        display: flex;
        flex-direction: column;
    
        background-image: url(img/test-image-03.png);
        background-color: rgba(255, 243, 243, 0.05);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

/* Gallery */
#bodybox-gallery{
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem; 
    align-items: center;
}

.bodybox-gallery-images{
    display: flex;
    flex-direction: column;
}

.gallery-image-box{
    display: flex;
}

.gallery-image{
    width: 100%;
    object-fit: cover;
    border: 0.25rem solid rgba(255, 243, 243, 0);
    box-sizing: border-box;
}

@media (min-width: 1280px){
    .gallery-top{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }
    
    .gallery-mid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
    }
    
    .gallery-bot{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .gallery-stack{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1280px){
    .gallery-top{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .gallery-mid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .gallery-bot{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .gallery-stack{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 480px){
    .gallery-top{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .gallery-mid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .gallery-bot{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .gallery-stack{
        display: flex;
        flex-direction: column;
    }
}

/* Works */

.project-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 1920px){
    #bodybox-project{
        padding: 4rem 8rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 4rem;
    }

    .project-summary-box{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .project-summary{
        font-size: 1.125rem;
    }


    .project-image-box{
        background-color: #191010;
        padding: 4rem 8rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 1920px){
    #bodybox-project{
        padding: 4rem 6rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
    }

    .project-summary-box{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .project-summary{
        font-size: 1.125rem;
    }

    .project-image-box{
        background-color: #191010;
        padding: 2rem 6rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 1280px){
    #bodybox-project{
        padding: 4rem 4rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }

    #project-title{
        font-size: 2rem;
    }

    .project-details{
        font-size: 1.5rem;
    }

    .project-summary-box{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .project-summary{
        font-size: 1rem;
    }

    .project-image-box{
        background-color: #191010;
        padding: 4rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 768px){
    #bodybox-project{
        padding: 2rem 2rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        gap: 2rem;
    }

    #project-title{
        font-size: 2rem;
    }

    .project-details{
        font-size: 1.5rem;
    }

    .project-summary-box{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .project-summary{
        font-size: 1rem;
    }

    .project-image-box{
        background-color: #191010;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media (max-width: 480px){
    #bodybox-project{
        padding: 2rem 1rem;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        gap: 2rem;
    }

    #project-title{
        font-size: 1.5rem;
    }

    .project-details{
        font-size: 1.25rem;
    }

    .project-summary-box{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .project-summary{
        font-size: 1rem;
    }

    .project-image-box{
        background-color: #191010;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

#next-project-box{
    margin: 2rem 0 0;
    padding: 4rem 0;
    background-color: rgba(255, 243, 243, 0.05);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

#next-project-box:hover{
    background-color: rgba(255, 243, 243, 0.1);
    filter: drop-shadow(0 0 1rem rgba(178, 111, 246, 0.5));
}

/* Footer */
.footer{
    text-align: center;
    padding: 1rem 0 1.5rem;
}

@media (min-width: 480px){
    .footer-text{
        display: inline;
    }
}
